%btn {
    width: 200px;
height: 45px;
border-radius: 30px;
background: $color-btn;
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
color: $color-title;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}