.benefits {
  padding-top: 67px;
  padding-bottom: 67px;
  &__title {
    color: $dark;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.28%;
    @media (min-width: 768px) {
      font-size: 30px;
    }
    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }
  &__subtitle {
    color: $grey;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%;
    padding-bottom: 125px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 40px;
    }
  }
  &__descr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 140px;
    @media (min-width: 768px) {
      margin-top: 80px;
      gap: 17px;
    }
    @media (min-width: 1200px) {
      margin-top: 80px;
      gap: 130px;
    }
  }
  &__elipse2 {
    border-radius: 50% 50%;
    border: 1px solid $light-blue;
    width: 90px;
    height: 90px;
  }
  &__elipse1 {
    border-radius: 50% 50%;
    border: 1px solid $light-grey;
    width: 110px;
    height: 110px;
    padding: 10px;
  }

  &__wallpaper {
    position: absolute;
    top: 25px;
    left: 20px;
    padding: 13px;
  }
  &__descr {
    &--title {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &--text {
      color: $grey;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 158.47%;
    }
  }
  &__btn {
    border-radius: 30px;
    background-color: $light-blue;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    width: 200px;
    height: 45px;
  }
  &__box {
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translate(-50%, 10px);
    @media (min-width: 768px) {
      top: -125px;
      left: 70px;
    }
    @media (min-width: 1200px) {
      top: -59px;
      left: -66px;
    }

    &--btn {
      display: flex;
      justify-content: center;
      padding-top: 55px;
    }
  }
  &__item {
    position: relative;
    max-width: 222px;
    &:nth-child(1) {
      @media (min-width: 1200px) {
        margin-left: 100px;
      }
    }
  }
}
