.header {
  padding: 40px 407px 40px;
//   opacity: 0.5;
  border-bottom: 1px solid $color-border;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 100;
  // background-color: aqua;
  &__link {
    color: $color-title;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.5s;
    position: relative;
    &:hover {
      &::before {
        transform: rotate(0deg);
      }
    }
    &--active {
      color: $color-title;
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        border-radius: 2px;
        background: $color-title;
        bottom: -41px;
        transition: 1s 0.1s;
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      border-radius: 2px;
      background: $color-title;
      bottom: -41px;
      transition: 1s;
      transform: rotateY(90deg);
    }
  }
  &__list {
    width: 581px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    // padding: 0;
  }
  .container {
    display: flex;
    justify-content: flex-end;
  }
  &__hamburger {
    border: none;
    color: $color-title;
    font-size: 30px;
    

@media (min-width: 768px) {
  display: none;
}

  }
}
