.mobile-menu {
    padding: 48px 40px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.5s;
  background-color: $color-title;
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    font-size: 24px;
    background-color: $color-title;
  }

  &__link {
    color: $color-purple;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.5s;
    position: relative;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    height: 100%;
    align-content: space-between;
    justify-content: space-between;
  }
  // background-image: linear-gradient(
  //     0deg,
  //     rgba(0, 0, 0, 0.2) 0%,
  //     rgba(0, 0, 0, 0.2) 100%
  //   ),
  //   url(../img/hero_bg1x.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // padding: 219px 0;
  // @media (min-device-pixel-ratio: 2),
  //   (-webkit-min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: linear-gradient(
  //       0deg,
  //       rgba(0, 0, 0, 0.2) 0%,
  //       rgba(0, 0, 0, 0.2) 100%
  //     ),
  //     url(../img/hero_bg2x.jpg);
  // }
}

.is-open {
  left: 0;
}

.decor {
  &__pearson {
    position: absolute;
    bottom: 50px;
    right: 130px;
    font-size: 119px;
    color: $color-mobileMenu_pearson;
  }
  &__messag {
    position: relative;
    // position: absolute;
    color: $color-mobileMenu;
    font-size: 145px;
    left: 250px;
    bottom: 280px;
    // top: 115px;
    // right: 35px;
  }
  &__title {
    color: $color-title;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 134.09%;
    position: absolute;
    top: 125px;
    right: 70px;
  }
}