.standarts {
  background-color: $wheat;

  .container {
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    order: 2;
    width: 100%;
    text-align: center;

    @media (min-width:790px) {
      width: 50%;
      order: 1;
      text-align: left;
    }
  }

  &__title {
    color: $black;
    font-size: 32px;
    font-weight: 700;
    line-height: 146.28%;
    margin-bottom: 60px;

    @media (min-width:400px) {
      font-size: 36px;
    }
  }

  &__desc {
    color: $grey;
    font-weight: 400;
    line-height: 158.47%;
    /* 25.355px */
  }

  &__link {
    display: block;
    margin-top: 42px;
    color: $blue;
    text-decoration: underline;
  }

  picture {
    order: 1;
    width: 100%;
    height: auto;

    @media (min-width:790px) {
      width: 50%;
    }
  }

  &__ul {
    border-top: 1px solid #E0E0E0;
    margin-top: 90px;
    padding: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
  }

  &__li {
    width: 104px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 17px;
  }

  &__number {
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    /* 52.661px */
  }

  &__span {
    color: $grey;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%;
  }
}