.subscribe {
  padding-top: 85px;
  padding-bottom: 67px;
  &__line {
    width: 1110px;
    height: 1px;
    background-color: $light-grey;
  }
  &__title {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 67px;
  }
  &__subtitle {
    color: $grey;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%;
  }
  &__box {
    display: flex;
    justify-content: center;
  }
  &__input {
    width: 489px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #f2f2f2;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    padding-left: 33px;
  }
  &__btn {
    width: 190px;
    height: 45px;
    border-radius: 0px 30px 30px 0px;
    background-color: $light-blue;
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-left: -50px;
  }
  &__text {
    color: $grey;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 20.601px */
    padding-top: 35px;
  }
}
